# Enable logging
logger:
  level: DEBUG
  
# Enable Home Assistant API
api:

ota:
  - platform: esphome
    
wifi:
  id: wifi_main
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: true
#   Optional: manual IP configuration
  manual_ip: 
    static_ip: 192.168.50.40
    gateway: 192.168.50.1
    subnet: 255.255.255.0
    dns1: 192.168.50.1

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "MicraControllerAP"
    password: !secret wifi_password
    
debug:
  update_interval: 5s
  
text_sensor:
  - platform: version
    name: "Esphome Version"

  - platform: wifi_info
    ip_address:
      name: ESP IP Address
     
binary_sensor:
  - platform: status
    name: "Connection Status"
    
button:
  - platform: restart
    name: "Restart"
    id: re_start
    entity_category: diagnostic
    
sensor:
  - platform: wifi_signal
    name: "WiFi Signal dB"
    id: wifi_signal_db
    internal: true
    entity_category: "diagnostic"

  - platform: copy
    source_id: wifi_signal_db
    name: "WiFi Signal Percent"
    filters:
      - lambda: return min(max(2 * (x + 100.0), 0.0), 100.0);
    unit_of_measurement: "% Signal"
    entity_category: "diagnostic"
    device_class: ""
    icon: mdi:wifi
    
  - platform: debug
    free:
      name: "Heap Free"

